.collection {
    margin-bottom: 200px;
    margin-top: 100px;
    background-image: url(../../assets/svg/our-collection-bg.svg);
    background-repeat: no-repeat;
    background-position-x: 60%;


    &-box {
        max-width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;


        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;
            gap: 0 30px;
            margin-top: 40px;
        }

        .collection-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            .img {
                margin-bottom: 72px;
            }

            h5 {
                color: #333D4B;
                font-family: "Fraunces 9pt";
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: 32px;
                margin-top: 71px;
            }

            p {
                width: 255px;
                color: #333D4B;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                margin-top: 24px;
            }
        }
    }
}


@media only screen and (max-width:1129px) {
    .collection {
        background-size: 75%;
        background-position: 120px 30px;
    }
}

@media only screen and (max-width:1023px) {
    .collection {

        background-position-y: 60px ;
        margin-bottom: 144px;

        
        &-list{
            flex-direction: column;
            display: flex;
            align-items: center;
            gap: 47.5px;
        }

        &-item{
            display: flex;
            align-items: center;
            gap: 0 36px;
        }

        &-title{
            margin: 0 0 24px 0;
        }

        &-text{
            width: 282px;
        }

       
    }
}


@media only screen and (max-width:768px) {
    .collection {

        background-position: 13vw 27px;
        margin-bottom: 120px;

        &-list{
            flex-direction: row;
            align-items: center;
        }

        &-item{
            flex-direction: column;
            align-items: center;
        }

        &-info-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media only screen and (max-width:450px) {
    .collection{
        padding-top: 60px;
        background-position-x: 10vw;
    }
}

@media only screen and (max-width:320px) {
    .collection{
        img{
            width: 180px;
            object-fit: cover;
        }



        &-text{
            width: 180px;
        }
    }
}